1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [63]:
mi_lista = ['Berlin',' Barcelona','Madrid','Lisboa','Rio de Janeiro', 'Mar del plata']
print(mi_lista)

['Berlin', ' Barcelona', 'Madrid', 'Lisboa', 'Rio de Janeiro', 'Mar del plata']

2) Imprimir por pantalla el segundo elemento de la lista

In [23]:
print(mi_lista[1])

 Barcelona

3) Imprimir por pantalla del segundo al cuarto elemento

In [24]:
print(mi_lista[1:4])

[' Barcelona', 'Madrid', 'Lisboa']

4) Visualizar el tipo de dato de la lista

In [25]:
type(mi_lista)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [64]:
print(mi_lista[2:])

['Madrid', 'Lisboa', 'Rio de Janeiro', 'Mar del plata']

6) Visualizar los primeros 4 elementos de la lista

In [65]:
print(mi_lista[:4])

['Berlin', ' Barcelona', 'Madrid', 'Lisboa']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [66]:
mi_lista.append('Buenos Aires')
mi_lista.append('Berlin')
print(mi_lista)

['Berlin', ' Barcelona', 'Madrid', 'Lisboa', 'Rio de Janeiro', 'Mar del plata', 'Buenos Aires', 'Berlin']

8) Agregar otra ciudad, pero en la cuarta posición

In [86]:
mi_lista.insert(3 ,'Nueva York')
print(mi_lista)

['Berlin', ' Barcelona', 'Madrid', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Lisboa', 'Rio de Janeiro', 'Mar del plata', 'Buenos Aires', 'Berlin', 'Los  Angeles', 'Paris']

9) Concatenar otra lista a la ya creada

In [79]:
mi_lista.extend(['Los  Angeles' , 'Paris' ])
print(mi_lista)

['Berlin', ' Barcelona', 'Madrid', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Lisboa', 'Rio de Janeiro', 'Mar del plata', 'Buenos Aires', 'Berlin', 'Los  Angeles', 'Paris']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [87]:
print(mi_lista.index('Berlin'))

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [88]:
print(mi_lista.index('San Francisco'))

ValueError: 'San Francisco' is not in list

12) Eliminar un elemento de la lista

In [ ]:
mi_lista.remove('Mar del plata')

In [97]:
print(mi_lista)

['Berlin', ' Barcelona', 'Madrid', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Lisboa', 'Rio de Janeiro', 'Berlin', 'Los  Angeles', 'Paris']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [102]:
mi_lista.remove('San Francisco')
print(mi_lista)

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [104]:
ultimo=mi_lista.pop()
print(ultimo)

Los  Angeles

15) Mostrar la lista multiplicada por 4

In [106]:
print([mi_lista]*4)

[['Berlin', ' Barcelona', 'Madrid', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Lisboa', 'Rio de Janeiro', 'Berlin'], ['Berlin', ' Barcelona', 'Madrid', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Lisboa', 'Rio de Janeiro', 'Berlin'], ['Berlin', ' Barcelona', 'Madrid', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Lisboa', 'Rio de Janeiro', 'Berlin'], ['Berlin', ' Barcelona', 'Madrid', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Nueva York', 'Lisboa', 'Rio de Janeiro', 'Berlin']]

16) Crear una tupla que contenga los números enteros del 1 al 20

In [107]:
mi_tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(mi_tupla))
print(mi_tupla)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [111]:
print(mi_tupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [121]:
print( 20 in mi_tupla)
print (30 in mi_tupla)

True
False

In [122]:
mi_tupla.count('30')

0

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [125]:
elemento = 'Berlin'
if (not(elemento in mi_lista)):
    mi_lista.append(elemento)
    print('Se insertó el elemento', elemento)
else:
    print('El elemento', elemento, 'ya existía')

El elemento Berlin ya existía

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [126]:
print(mi_tupla.count(9))
print(mi_lista.count('Montevideo'))

1
0

21) Convertir la tupla en una lista

In [128]:
mi_lista1=list(mi_tupla)
print(mi_lista1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [129]:
v1, v2, v3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = mi_tupla
print(v1)
print(v2)
print(v3)

1
2
3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [131]:
mi_diccionario = {'ciudades':['Berlin',' Barcelona','Madrid','Lisboa','Rio de Janeiro', 'Mar del plata'] ,
'paises': ['Argentina', 'Alemania', 'Francia', 'Suecia'], 'continentes': ['America', 'Europa','Asia','Africa']}
print(mi_diccionario['continentes'])

['America', 'Europa', 'Asia', 'Africa']

24) Imprimir las claves del diccionario

In [133]:
print(mi_diccionario.keys())

dict_keys(['ciudades', 'paises', 'continentes'])

25) Imprimir las ciudades a través de su clave

In [136]:
print(mi_diccionario['ciudades'])

['Berlin', ' Barcelona', 'Madrid', 'Lisboa', 'Rio de Janeiro', 'Mar del plata']