1. Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla.

In [1]:
a = 7
print(a)

7

2. Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3. Imprimir el tipo de dato de la variable creada en el punto 1.

In [3]:
print(type(a))

<class 'int'>

4. Crear una variable que contenga tu nombre.

In [4]:
mi_var = 'Ezequiel'

5. Crear una variable que contenga un número complejo.

In [ ]:
mi_complejo = 2 + 3j

6. Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(2 + 3j)

complex

7. Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
pi = 3.1416

8. Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
d = 'True'
type(d)

str

In [12]:
e = True
type(e)

bool

9. Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

ya lo hice

10. Asignar a una variable, la suma de un número entero y otro decimal.

In [13]:
f = 4 + 1.5

11. Realizar una operación de suma de números complejos

In [14]:
a = 2 + 3j
b = 4 + 2j
print(a + b)

(6+5j)

12. Realizar una operación de suma de un número real y otro complejo

In [15]:
a = 2
b = 1 + 7j
print(a + b)

(3+7j)

13. Realizar una operación de multiplicación.

In [16]:
7 * 2

14

14. Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
2**8

256

15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
a = 27/4
print(a)

6.75

16. De la división anterior solamente mostrar la parte entera

In [19]:
a = 27//4
print(a)

6

17. De la división de 27 entre 4 mostrar solamente el resto

In [20]:
a = 27%4
print(a)

3

18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
a = 6*4 + 3
print(a)

27

19. Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [27]:
nom_1 = 'Sebastian '
nom_2 = 'Ezequiel '
ape_1 = 'Elcontar'
print(nom_1  +  nom_2 + ape_1)

Sebastian Ezequiel Elcontar

20. Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
"2" == 2

False

21. Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [30]:
int("2") == 2

True

22. ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [32]:
float('3,8')

ValueError: could not convert string to float: '3,8'

Por que tiene una coma y no un punto.

23. Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [33]:
a = 3
a -= 2
print(a)

1

24. Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
1 << 2

4

Hace referencia al sistema de numercion binario, 1 << 2 esta operación se traduce en que debes desplazar 2 espacios hacia la izquierda el numero "1" en este caso esos 2 espacios se sustituyen por un "0" quedando 100, y en el sistema de numeración binario, el numero 100 representa al numero 4 en la numeración decimal. (repasar numeros binarios)

25. Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [35]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

No está permitido porque son variables de distinto tipo. Si las operaciones fueran del mismo tipo no siempre arrojarian el mismo resultado

In [36]:
2 + int('2')

4

In [37]:
float(2) + '2'

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
26. Realizar una operación válida entre valores de tipo entero y string

In [39]:
a = 'este texto se repite '
b = 3
c = ' veces'

print(a*3 + str(b) + c)

este texto se repite este texto se repite este texto se repite 3 veces